###################
## ДИРЕКТОРИИ
###################
cmake
build/debug

#######################
## РАСШИРЕНИЯ ФАЙЛОВ
#######################

## РАЗНОЕ ##
*.VC.db
*.suo
*.ilk
*.exp
*.obj
*.idb
*.iobj
*.ipdb
*.pdb
*.tmp